.acceptButton {    
    background-color: #33BB27;
    border-color: #33BB27;
    transition: all .3s ease; // all récupére le css du hover ci-dessous    
}
.acceptButton:hover {
    background-color: #33BB27;
    border-color: #33BB27;
}
.rejectButton {
    background-color: #F0C02E;
    border-color: #F0C02E;
    transition: all .3s ease; // all récupére le css du hover ci-dessous 
}
.rejectButton:hover {
    background-color: #F0C02E;
    border-color: #F0C02E;
}