<header>
    <figure>
        <img src="assets/images/logos/logo_tiaki.png" alt="">
    </figure>
</header>
<section>
    <article>
        <h1>Tiaki</h1>
        <h2>Interface administrateur de l'application</h2>
    </article>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
        <input placeholder="Email" type="email" formControlName="email" value="email">
        <input placeholder="Mot de passe" type="password" formControlName="password" value="password">
        <div>
            <p><a href="/">Mot de passe oublié?</a></p>
            <p-button class="connexion" styleClass="p-button-help" type="submit">Se connecter</p-button>                   
        </div>
    </form>
    <div *ngIf="badLogin">
        <p>Identifiants incorrects !</p>
    </div>
</section>

