::-webkit-scrollbar {
    background-color: #805E96;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    height: auto;
    background-color: #270140;
}

h1,h2,h3 {
    color: #805E96;    
}

section {
    justify-content: center;         
    div {
        //background-color: #FFF1C6;
        //height: 65vh;
        //overflow-y: auto;
        display: flex; 
        width: 60%;
        justify-content: space-around;        
        article {
            flex-direction: column;
            padding-top: 20px;            
            form {
                display: flex;
                flex-direction: column;
                gap: 4vh;
                margin-top: 2vh;
            }
            form:nth-child(4) {
                gap:1vh;
                button {
                    margin-top: 3vh;
                }
            }
            #buttonMdp {
                padding-bottom: 20px;
            }
        }
    }
}

.acceptButton {    
    background-color: #33BB27;
    border-color: #33BB27;
    transition: all .3s ease; // all récupére le css du hover ci-dessous    
}
.acceptButton:hover {
    background-color: #33BB27;
    border-color: #33BB27;
}
.rejectButton {
    background-color: #F0C02E;
    border-color: #F0C02E;
    transition: all .3s ease; // all récupére le css du hover ci-dessous 
}
.rejectButton:hover {
    background-color: #F0C02E;
    border-color: #F0C02E;
}

