h1,h2,h3 {
    color: #805E96;    
}

main {
    justify-content: center;
    section {
        background-color: #FFF1C6;
        width: 60%;
        justify-content: space-around;
        article {
            flex-direction: column;
        }

    }
}