<header>
    <article>
    <figure>
        <img src="assets/images/logos/logo_tiaki.png" alt="">
    </figure> 
    <div>
        <h1>Tiaki</h1>
        <h2>Mon profil utilisateur</h2>
    </div>   
    </article>
    <article>
        <figure>
            <img src="assets/images/icones/icones-communs/iconeGestion.svg" alt="">
        </figure>
        <h3>Gérer mon profil</h3>
    </article>
</header>
<main>
    <section>
        <article *ngFor="let user of utilisateur">
            <p>{{ user.nom }}</p>
            <p>{{ user.email }}</p>
        </article>
    </section>
</main>