<p-dialog header="Détails de l'utilisateur" [(visible)]="visible" [style]="{
    'width': '80vw',
    'height': '50vh',
    'background-color': stringRegex ? stringRegex.source : '#fff1c6'
  }">
  <form [formGroup]="editForm">
    <span>Nom</span>
    <span class="p-float-label">
      <input pInputText id="nom" formControlName="nom" type="text" pattern="{{ stringRegex ? stringRegex.source : '' }}"
        required minlength="1" />
    </span>
    <span>Prénom</span>
    <span class="p-float-label">
      <input pInputText id="prenom" formControlName="prenom" type="text"
        pattern="{{ stringRegex ? stringRegex.source : '' }}" minlength="1" />
    </span>
  <!-- <span>Rôle(s)</span>
<span class="p-float-label">
  <input pInputText id="roles" formControlName="roles" type="text" />
</span> -->
    <span>Email</span>
    <span class="p-float-label">
      <input pInputText id="email" formControlName="email" type="email"
        pattern="{{ emailRegex ? emailRegex.source : '' }}" required />
    </span>
    <div>
      <button pButton type="button" label="Annuler" (click)="cancelModification()"></button>
      <button pButton class="modifier" styleClass="p-button-help" (click)="openModifyConfirmDialog()" >Modifier</button>
    </div>
  </form>
</p-dialog>
<p-dialog #confirmDialog header="Confirmation de modification" [(visible)]="confirmDialogVisible">
  <p>Êtes-vous sûr de vouloir modifier cet utilisateur ?</p>
  <p-footer>
    <button pButton type="button" label="Annuler" (click)="cancelModification()"></button>
    <button pButton type="button" label="Modifier" (click)="confirmModification()" (click)="selectedUserForEdit ? onSubmitForm(selectedUserForEdit) : null"></button>
  </p-footer>
</p-dialog>
