<header>
    <article>
      <figure>
        <img src="assets/images/logos/logo_tiaki.png" alt="" />
      </figure>
      <div>
        <h1><a routerLink="/intranet">Tiaki</a></h1>
        <h2>Les menus</h2>
      </div>
    </article>    
  </header>
  <section>
    <article>
      <span id="firstSpan">
        <figure>
          <img src="assets/images/icones/icones-communs/iconeNutrition.svg" alt="" />
        </figure>
        <h3>Gestion des menus</h3>
      </span>
      <p-button styleClass="p-button-success" (onClick)="ajoutMenu()">Ajouter un menu</p-button>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="filtre" />
      </span>
      <span>
        <!-- Utilisation du pipe menus pour rechercher des menus par leur noms -->
        <ng-container *ngIf="nutrition.menus | menus:filtre as filteredMenus">
        <div *ngFor="let menu of filteredMenus | paginate: { itemsPerPage: 15, currentPage: pageMenus, id:'menus' }">
          <p (click)="onSelectMenu(menu, menu.plats)">{{ menu.titre }}</p>              
          <figure (click)="DeleteDialog(menu.id, true, menu.plats)"><img src="assets/images/icones/icones-communs/corbeille.svg" alt=""></figure>
        <!-- DeleteDialog() modal PrimeNG - En paramétres l'id du menu et la variable bolean del en true -->      
        </div>
      </ng-container>
      </span>      
      <span>
        <!-- [maxSize] pour le nombre de numéro de pages à afficher -->
        <pagination-controls (pageChange)="pageMenus = $event" id="menus" previousLabel="Précédent" nextLabel="Suivant" [maxSize]="5"></pagination-controls>
      </span>
    </article>
    <article>    
      <div id="divFormulaire" *ngIf="selectedMenus">  <!-- Le menu sur lequel j'ai cliqué -->     
          <form #menuForm="ngForm"> 
            <section id="formContainer">
              <fieldset>
                <span class="p-float-label">
                  <input pInputText [(ngModel)]="selectedMenus.titre" name="titre" type="text" required minlength="1" />
                  <label htmlFor="nom">Nom</label>
                </span> 
                <span class="p-float-label">
                  <textarea id="float-input" rows="5" cols="40" pInputTextarea [(ngModel)]="selectedMenus.description" name="description"></textarea>
                  <label for="float-input">Description</label>
                </span>
              </fieldset>
              <fieldset>
                <span class="p-float-label">
                  <p-dropdown [options]="statut" [(ngModel)]="selectedMenus.statut" name="statut" placeholder="Statut de publication" inputId="float-label"></p-dropdown>
                  <label for="float-label">Statut de publication</label>
                  <p id="infoItalique"><i class="pi pi-info-circle"></i> -1 = Dépublié | 0 = Brouillon | 1 = Publié</p>
                </span>
              </fieldset>
            </section>
            <span id="spanIngredients">
              <h4>Plats</h4> 
              <article>
                <div *ngFor="let plat of selectedMenus.plats; let i=index">
                  <p id="nomIngredients" (click)="onViewPlat(plat.id!)">{{ plat.titre }}
                    <figure (click)="DeleteDialog(i, false, selectedMenus.plats)"> 
                    <i class="pi pi-times-circle"></i></figure>
                  </p>
                </div>
              </article>             
              <article id="articleMenu" *ngFor="let plat of selectedMenus.plats">
                <div *ngIf="plat.id == selectedPlats">
                  <h4>Description du plat :</h4>
                  <p >{{ plat.description }}</p>
                  <h4 *ngIf="plat.astuces !== undefined && plat.astuces !== null">Astuce du plats</h4>
                  <p *ngIf="plat.astuces !== undefined && plat.astuces !== null">{{ plat.astuces }}</p>
                  <h4 *ngIf="plat.qualites !== undefined && plat.qualites !== null">Qualités du Plats</h4>
                  <p *ngIf="plat.qualites !== undefined && plat.qualites !== null">{{ plat.qualites }}</p>
                </div>
              </article>
            </span>
            <span id="spanButton">
              <p-button styleClass="p-button-warning" (onClick)="onCancelForm()">Annuler</p-button>              
              <p-button styleClass="p-button-success" (onClick)="ConfirmDialog($event)" [disabled]="menuForm.invalid!">Valider</p-button>
            </span>
          </form>
          <!-- <span id="blocIngredients">                     
            <h4>Nutriments</h4> 
            <div id="nutriments">
              <span>
                <p>Protéines : {{ nutrition.totals['proteine'] | number: '1.2-2' }} Gr</p>
                <p>Glucides : {{ nutrition.totals['glucides'] | number: '1.2-2' }} Gr</p>
                <p>Lipides : {{ nutrition.totals['lipides'] | number: '1.2-2' }} Gr</p>
                <p>Sucres : {{ nutrition.totals['sucres'] | number: '1.2-2' }} Gr </p>
              </span>
              <span>
                <p>Vitamine C : {{ nutrition.totals['vitamineC'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B1 : {{ nutrition.totals['vitamineB1'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B2 : {{ nutrition.totals['vitamineB2'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B3 : {{ nutrition.totals['vitamineB3'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B5 : {{ nutrition.totals['vitamineB5'] | number: '1.2-2' }} Mg </p>
              </span>
              <span>
                <p>Magnesium : {{ nutrition.totals['magnesium'] | number: '1.2-2' }} Mg </p>
                <p>Potassium : {{ nutrition.totals['potassium'] | number: '1.2-2' }} Mg </p>
                <p>Cuivre : {{ nutrition.totals['cuivre'] | number: '1.2-2' }} Mg </p>
                <p>Manganese : {{ nutrition.totals['manganese'] | number: '1.2-2' }} Mg </p>
              </span>
            </div>            
          </span>  -->   
      </div>
    </article> 
    <article>
      <span id="headerIngredient">
        <figure>
          <img src="assets/images/icones/icones-communs/plat.png" alt="" />
        </figure>
        <h4>Ajout de plats</h4>
      </span>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="filtrePlats" (input)="nutrition.onFilterChange()" />        
      </span>
      <div>
               
          <span *ngFor="let plat of nutrition.plats| plats:filtrePlats| paginate: { itemsPerPage: 15, currentPage: pagePlats, id:'plats' }">
            <p (click)="onSelectPlats(plat)">{{plat.titre }}</p>
          </span>        
      </div>
      <span id="paginationIngredients">
        
        <pagination-controls (pageChange)="pagePlats = $event" id="plats" previousLabel="Précédent" nextLabel="Suivant" [maxSize]="5"></pagination-controls>
      </span>
    </article>   
  </section>



  <!-- Pour la pop-up MessageService -->
<p-toast></p-toast>

<!-- Le contenu de la Modal PrimeNG pour supprimer un plat OU un ingrédient -->
<p-confirmDialog #cd [style]="{ width: '40vw' }">
  <ng-template pTemplate="footer">
    <button type="button" class="rejectButton" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
    <button type="submit" class="acceptButton" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
  </ng-template>
</p-confirmDialog>

<!-- La modal de type pop-up pour valider les modifications du formulaire -->
<p-confirmPopup key="formulaire"></p-confirmPopup>
