<header>
  <article>
    <figure>
      <img src="assets/images/logos/logo_tiaki.png" alt="" />
    </figure>
    <div>
      <h1>Tiaki</h1>
      <h2>Mon profil utilisateur</h2>
    </div>
  </article>
  <article>
    <figure>
      <img src="assets/images/icones/gestion-utilisateur/yellowIcon.png" alt="" />
    </figure>
    <h3>Gestion des utilisateurs</h3>
  </article>
</header>
<section>
    <p-button routerLink="/intranet/gestion/ajout-utilisateurs" styleClass="p-button-success" type="submit">Créer un utilisateur</p-button>
    <article class="search">   
      <input type="text" [(ngModel)]="nomFiltre" (input)="onFilterChange()" placeholder="Nom" pInputText >
      <input type="text" [(ngModel)]="emailFiltre" (input)="onFilterChange()" placeholder="Email" pInputText >
      <input type="text" [(ngModel)]="roleFiltre"(input)="onFilterChange()" placeholder="Rôles" pInputText >
    </article>
    <article class="table-users">
      <table>
        <thead>
          <tr>
            <th>Selectionner</th>
            <th class="tri" colspan="1" (click)="triUtilisateursParNom()">Nom utilisateur</th>
            <th colspan="1">Adresse mail</th>
            <th colspan="1">Rôles</th>
            <th>Données Médicales</th>
            <th>Editer</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of filteredUtilisateurs">
          <tr>
            <td><input type="checkbox" [(ngModel)]="user.selected" (change)="onUserSelectChange(user)"></td>
            <td>{{ user.nom }}</td>
            <td>{{ user.email }}</td>
            <td>{{ getRolesText(user) }}</td>
            <td>
              <figure (click)="openMedModal(user)" ><img src="assets/images/icones/gestion-utilisateur/coeur.png" alt="favoris"></figure>
            </td>
            <td>
              <figure (click)="openEditUserModal(user)" >
                <img src="assets/images/icones/gestion-utilisateur/editer.png" alt=""></figure>
            </td>
            <td>
              <figure (click)="openDeleteDataModal(user)"><img
                  src="assets/images/icones/gestion-utilisateur/corbeille.png" alt=""></figure>
            </td>
          </tr>
        </tbody>
      </table>
    </article>
    <p-button *ngIf="selectedUsers.length > 0" (click)="deleteSelectedUsers()" label="Supprimer les utilisateurs sélectionnés"></p-button>
  <app-delete-data></app-delete-data>
  <app-edit-user></app-edit-user>
  <app-donnees-medicales></app-donnees-medicales>
</section>