<p-dialog
  header="Données médicales de l'utilisateur"
  [(visible)]="visible"
  [style]="{
    'width': '80vw',
    'height': '50vh',
  }"
>
  <form [formGroup]="medForm">
    <span>Medecin</span>
    <span class="p-float-label">
      <input
        pInputText
        id="nom"
        formControlName="nom"
        type="text"
        required
        minlength="1"
      />
    </span>
    <span>Prénom</span>
    <span class="p-float-label">
      <input
        pInputText
        id="prenom"
        formControlName="prenom"
        type="text"

        minlength="1"
      />
    </span>
    <span>Téléphone</span>
    <span class="p-float-label">
      <input
        pInputText
        id="telephone"
        formControlName="telephone"
        type="text"

        minlength="10"
      />
    </span>
    <span>Email</span>
    <span class="p-float-label">
      <input
        pInputText
        id="email"
        formControlName="email"
        type="email"
        required
      />
    </span>
    <p-button
      class="modifier"
      styleClass="p-button-help"
    >Modifier</p-button>
  </form>
</p-dialog>
