<section>
    <article id="articleOne">
        <form #ajoutPlatForm="ngForm"> 
            <span class="p-float-label">
              <input pInputText [(ngModel)]="newPlat.titre" name="nom" type="text" required minlength="1"/>
              <label htmlFor="nom">Nom</label>
            </span> 
            <span class="p-float-label">
              <textarea id="float-input" rows="5" cols="40" pInputTextarea [(ngModel)]="newPlat.description" name="description" required minlength="1"></textarea>
              <label for="float-input">Description</label>
            </span>
            <span class="p-float-label">
              <textarea id="float-input" rows="5" cols="40" pInputTextarea [(ngModel)]="newPlat.qualites" name="qualites"></textarea>
              <label for="float-input">Qualités</label>
            </span>
            <span class="p-float-label">
              <textarea id="float-input" rows="5" cols="40" pInputTextarea [(ngModel)]="newPlat.astuces" name="astuces"></textarea>
              <label for="float-input">Astuces</label>
            </span>
            <span class="p-float-label">
              <p-inputNumber id="inputNumber" inputId="integeronly" [(ngModel)]="newPlat.nbpersonnes" name="nbPersonnes" [showButtons]="true" [min]="0"> </p-inputNumber>
              <label for="number-input">Nombres de personnes</label>
            </span>
            <span class="p-float-label" style="display: flex; flex-direction: row;">
              <p-dropdown [options]="statut" [(ngModel)]="newPlat.statut" name="statut" placeholder="Statut de publication" inputId="float-label"></p-dropdown>
              <label for="float-label">Statut de publication</label>
              <p style="font-style: italic; margin-left: 10px;"><i class="pi pi-info-circle"></i> -1 = Dépublié | 0 = Brouillon | 1 = Publié</p>                     
            </span>  
            <span class="p-float-label">
              <!-- optionLabel pour voir la données suivant le typage (le titre, la description l'id etc....) dans le menu déroulant -->
              <p-multiSelect inputId="float-label" [options]="nutrition.platsTypes" [(ngModel)]="selectedPlatsTypes" name="platsTypes" optionLabel="type"></p-multiSelect>
              <label for="float-label">Type de plat</label>
            </span>                  
            <span class="p-float-label">
              <!-- Ici optionLabel correspond au titre d'un allergene comme reçue après le map dans getAllergenes() -->
              <p-multiSelect inputId="float-label" [options]="nutrition.allergenes" [(ngModel)]="selectedAllergenes" name="allergenes" optionLabel="titre"></p-multiSelect>
              <label for="float-label">Type d'allergènes</label>              
            </span>  
            <span class="p-float-label">
              <p-multiSelect inputId="float-label" [options]="nutrition.regimes" [(ngModel)]="selectedRegimes" name="regimes" optionLabel="titre"></p-multiSelect>
              <label for="float-label">Type de régimes</label>              
            </span>
            <span class="p-float-label">
              <p-multiSelect inputId="float-label" [options]="nutrition.nutriProgrammes" [(ngModel)]="selectedProgrammes" name="programmes" optionLabel="titre"></p-multiSelect>
              <label for="float-label">Programmes alimentaires</label>              
            </span>  
            <span class="p-float-label">
              <p-multiSelect inputId="float-label" [options]="nutrition.nutriments" [(ngModel)]="selectedNutriments" name="nutriments" optionLabel="titre"></p-multiSelect>
              <label for="float-label">Nutriments</label>              
            </span> 
            <span class="p-float-label">
              <p-multiSelect inputId="float-label" [options]="nutrition.liens" [(ngModel)]="selectedLiens" name="liens" optionLabel="titre"></p-multiSelect>
              <label for="float-label">Liens</label>              
            </span>
            <span>
              <h4>Ingrédients</h4> 
              <p style="font-style: italic;"><i class="pi pi-info-circle"></i> Choisir les ingrédients à rajouter</p>
              <div id="divIngredients" *ngFor="let id of newPlat.ingredients; let i=index">
                <!-- <figure (click)="onDeleteIngredient(i)"><img src="assets/images/icones/icones-communs/corbeille.svg" alt=""></figure> -->
                <p>{{ id | getIngredient:'alim_nom_fr' }}
                    <figure (click)="onDeleteIngredient(i)">
                    <i class="pi pi-times-circle"></i></figure>
                </p>
                <span class="p-float-label">
                  <p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"> </p-inputNumber>
                  <label for="number-input">Quantité</label>
                </span> 
              </div>
            </span>  
            <span id="spanButton">
              <p-button styleClass="p-button-warning" (onClick)="onCancelNewPlatForm({ buttonType: 'Cancel', summary: 'Annulation' })">Annuler</p-button>              
              <p-button styleClass="p-button-success" (onClick)="onSubmitNewPlatForm({ summary: 'Validation' })" [disabled]="ajoutPlatForm.invalid!">Valider</p-button> 
            </span>
          </form>
    </article>
    <article>
        <div>
            <h4>Ajout d'ingrédients</h4>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="filtreIngredients" (input)="nutrition.onFilterChange()" />
        <!-- Utilisation de onFilterChange() pour réinitialiser l'input -->
      </span>
      <div id="divOne">
        <!-- Utilisation du pipe ingredients pour rechercher des ingredients par leur alim_nom_fr -->        
          <span *ngFor="let ingredients of nutrition.ciqualJSON | ingredients:filtreIngredients | paginate: { itemsPerPage: 30, currentPage: nutrition.pageIngredients, id:'ingredients' }">
            <p (click)="onSelectIngredient(ingredients.alim_code)">{{ ingredients.alim_nom_fr }}</p>            
          </span>        
      </div>
      <span id="paginationIngredients">
        <!-- [maxSize] pour le nombre de numéro de pages à afficher -->
        <pagination-controls (pageChange)="nutrition.pageIngredients = $event" id="ingredients" previousLabel="Précédent" nextLabel="Suivant" [maxSize]="5"></pagination-controls>
      </span>
        </div>
    </article>
</section>


<!-- Pour la pop-up MessageService -->
<p-toast></p-toast>



<!-- <span>
  Type de plat :
  <p-dropdown [options]="nutrition.platsTypes" [(ngModel)]="selectedPlatsTypes" name="platsTypes" optionLabel="type" [showClear]="true" placeholder="Choisir un type"></p-dropdown> 
  <p *ngIf="selectedPlatsTypes">le type : {{ selectedPlatsTypes.id }}</p>
</span> -->

<!-- <span>
  Type d'allergènes :
  <p-dropdown [options]="nutrition.allergenes" [(ngModel)]="selectedAllergenes" name="allergenes" optionLabel="titre" [showClear]="true" placeholder="Choisir un allergène"></p-dropdown> 
  <p *ngIf="selectedAllergenes">le type : {{ selectedAllergenes.id }}</p>
</span>   -->