<header>
    <article>
      <figure>
        <img src="assets/images/logos/logo_tiaki.png" alt="" />
      </figure>
      <div>
        <h1><a routerLink="/intranet">Tiaki</a></h1>
        <h2>Les Plats</h2>
      </div>
    </article>    
  </header>
  <section>
    <article>
      <span>
        <figure>
          <img src="assets/images/icones/icones-communs/iconeNutrition.svg" alt="" />
        </figure>
        <h3>Gestion des plats</h3>
      </span>
      <p-button  styleClass="p-button-success">Ajouter un plat</p-button>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="filtre" />
      </span>
      <span>
        <!-- Utilisation du pipe plats pour rechercher des plats par leur noms -->
        <ng-container *ngIf="nutrition.plats | plats:filtre as filteredPlats">
        <!-- Utilisation de ngx-pagination - Doc : https://github.com/michaelbromley/ngx-pagination/blob/master/README.md#demo -->  
        <div *ngFor="let plat of filteredPlats | paginate: { itemsPerPage: 15, currentPage: page }">
          <p (click)="onSelectPlat(plat, plat.idIngredients)">{{ plat.nom }}</p>
          <!-- <p>{{plat.idIngredients}}</p>  -->         
          <figure (click)="DeleteDialog(plat.id)"><img src="assets/images/icones/icones-communs/corbeille.svg" alt=""></figure>      
        </div>
      </ng-container>
      </span>      
      <span>
        <!-- [maxSize] pour le nombre de numéro de pages à afficher -->
        <pagination-controls (pageChange)="page = $event" previousLabel="Précédent" nextLabel="Suivant" [maxSize]="5"></pagination-controls>
      </span>
    </article>
    <article>    
      <div *ngIf="selectedPlats">  <!-- Le plat sur lequel j'ai cliqué -->     
          <form #platForm="ngForm"> 
            <span class="p-float-label">
              <input pInputText [(ngModel)]="selectedPlats.nom" name="nom" type="text" required minlength="1" />
              <label htmlFor="nom">Nom</label>
            </span> 
            <span class="p-float-label">
              <textarea id="float-input" rows="5" cols="40" pInputTextarea [(ngModel)]="selectedPlats.description" name="description"></textarea>
              <label for="float-input">Description</label>
            </span>
          </form>
          <span>   
            <h4>Ingrédients</h4>         
            <div *ngFor="let ingredients of nutrition.ciqual">
              <p>{{ ingredients["alim_nom_fr"] }}</p>
            </div>
            <h4>Nutriments</h4>
            <!-- <div *ngFor="let ingredients of nutrition.ciqual">
              <p>Protéines : {{ ingredients.proteine }}</p>
              <p>Glucides : {{ ingredients.glucides }}</p>
              <p>Lipides : {{ ingredients.lipides }}</p>
              <p>Sucre : {{ ingredients.sucres }}</p>
            </div> -->
            <p>Protéines : {{ nutrition.totals['proteine'] | number: '1.2-2' }} Gr</p>
            <p>Glucides : {{ nutrition.totals['glucides'] | number: '1.2-2' }} Gr</p>
            <p>Lipides : {{ nutrition.totals['lipides'] | number: '1.2-2' }} Gr</p>
            <p>Sucres : {{ nutrition.totals['sucres'] | number: '1.2-2' }} Gr </p>
          </span>    
      </div>      
    </article> 
    <article>

    </article>   
  </section>



  <!-- Pour la pop-up MessageService -->
<p-toast></p-toast>

<!-- Le contenu de la Modal PrimeNG -->
<p-confirmDialog #cd [style]="{ width: '40vw' }">
  <ng-template pTemplate="footer">
    <button type="submit" class="acceptButton" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
    <button type="button" class="rejectButton" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
  </ng-template>
</p-confirmDialog>