<header>
    <article>
      <figure>
        <img src="assets/images/logos/logo_tiaki.png" alt="" />
      </figure>
      <div>
        <h1><a routerLink="/intranet">Tiaki</a></h1>
        <h2>Les Plats</h2>
      </div>
    </article>
    <article>
      <figure>
        <img src="assets/images/icones/icones-communs/iconeNutrition.svg" alt="" />
      </figure>
      <h3>Gestion des plats</h3>
    </article>
  </header>
  <section>
    <p-button  styleClass="p-button-success">Ajouter un plat</p-button>
  </section>
