<header>
    <article>
      <figure>
        <img src="assets/images/logos/logo_tiaki.png" alt="" />
      </figure>
      <div>
        <h1><a routerLink="/intranet">Tiaki</a></h1>
        <h2>Les Plats</h2>
      </div>
    </article>    
  </header>
  <section>
    <article id="articleLeft">
      <span>
        <figure>
          <img src="assets/images/icones/icones-communs/iconeNutrition.svg" alt="" />
        </figure>
        <h3>Gestion des plats</h3>
      </span>
      <p-button  styleClass="p-button-success">Ajouter un plat</p-button>
      <input type="search" value="Recherche">
      <div *ngFor="let plat of nutrition.plats">
        <p (click)="onSelectPlat(plat)">{{ plat.nom }}</p>
        <figure><img src="assets/images/icones/icones-communs/corbeille.svg" alt=""></figure>      
      </div>
    </article>
    <article>    
      <div *ngIf="selectedPlats">
          <p>{{ selectedPlats.nom }}</p>
          <p>{{ selectedPlats.description }}</p>
          <form #platForm="ngForm"> 
            <span class="p-float-label">
              <input pInputText [(ngModel)]="selectedPlats.nom" name="nom" type="text" required
                minlength="1" />
              <label htmlFor="nom">Nom</label>
            </span> 
            <span class="p-float-label">
              <textarea id="float-input" rows="5" cols="30" pInputTextarea [(ngModel)]="selectedPlats.description">{{ selectedPlats.description }}</textarea>
              <label for="float-input">Summary</label>
          </span>          
            
          </form>    
      </div>
      
    </article>    
  </section>