<header>
  <article>
    <figure>
      <img src="assets/images/logos/logo_tiaki.png" alt="" />
    </figure>
    <div>
      <h1><a routerLink="/intranet">Tiaki</a></h1>
      <h2>Les Plats</h2>
    </div>
  </article>    
</header>
<section>
  <article>
    <span id="firstSpan">
      <figure>
        <img src="assets/images/icones/icones-communs/iconeNutrition.svg" alt="" />
      </figure>
      <h3>Gestion des plats</h3>
    </span>    
    <p-button styleClass="p-button-success" (onClick)="ajoutPlat()">Ajouter un plat</p-button>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="nutrition.filtre" />
    </span>
    <span>
      <!-- Utilisation du pipe plats pour rechercher des plats par leur noms -->
      <ng-container *ngIf="nutrition.plats | plats:nutrition.filtre as filteredPlats">
      <!-- Utilisation de ngx-pagination - Doc : https://github.com/michaelbromley/ngx-pagination/blob/master/README.md#demo -->  
      <div *ngFor="let plat of filteredPlats | paginate: { itemsPerPage: 15, currentPage: pagePlats, id:'plats' }">
        <p (click)="onSelectPlat(plat, plat.ingredients)">{{ plat.titre }}</p>              
        <figure (click)="DeleteDialog(plat.id, true, plat.ingredients)"><img src="assets/images/icones/icones-communs/corbeille.svg" alt=""></figure>
      <!-- DeleteDialog() modal PrimeNG - En paramétres l'id du plat et la variable bolean del en true -->      
      </div>
    </ng-container>
    </span>      
    <span>
      <!-- [maxSize] pour le nombre de numéro de pages à afficher -->
      <pagination-controls (pageChange)="pagePlats = $event" id="plats" previousLabel="Précédent" nextLabel="Suivant" [maxSize]="5"></pagination-controls>
    </span>
  </article>
  <article>    
    <div id="divFormulaire" *ngIf="selectedPlats">  <!-- Le plat sur lequel j'ai cliqué -->     
        <form #platForm="ngForm"> 
        <section id="formContainer">
          <fieldset>        
          <span class="p-float-label">
            <input pInputText [(ngModel)]="selectedPlats.titre" name="titre" type="text" required minlength="1"/>
            <label htmlFor="nom">Nom</label>
          </span> 
          <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="40" pInputTextarea [(ngModel)]="selectedPlats.description" name="description" required minlength="1"></textarea>
            <label for="float-input">Description</label>
          </span>
          <span class="p-float-label">
            <textarea id="float-input" rows="5" cols="40" pInputTextarea [(ngModel)]="selectedPlats.astuces" name="astuces" required minlength="1"></textarea>
            <label for="float-input">Astuces</label>
          </span>
          <span class="p-float-label">
            <textarea id="float-input" rows="4" cols="40" pInputTextarea [(ngModel)]="selectedPlats.qualites" name="qualites" required minlength="1"></textarea>
            <label for="float-input">Qualités</label>
          </span>
        </fieldset> 
         <fieldset>
          <span class="p-float-label">
            <p-inputNumber id="inputNumber" inputId="integeronly" [(ngModel)]="selectedPlats.nbpersonnes" name="nbpersonnes" [showButtons]="true" [min]="0"> </p-inputNumber>
            <label for="number-input">Nombres de personnes</label>
          </span> 
          <span class="p-float-label">
            <p-multiSelect inputId="float-label" [options]="nutrition.platsTypes" [(ngModel)]="selectedPlats.types" name="platsTypes" optionLabel="type"></p-multiSelect>
            <label for="float-label">Type de plat</label>
          </span>
          <span class="p-float-label">
            <p-dropdown [options]="statut" [(ngModel)]="selectedPlats.statut" name="statut" placeholder="Statut de publication" inputId="float-label"></p-dropdown>
            <label for="float-label">Statut de publication</label>
            <p id="infoItalique"><i class="pi pi-info-circle"></i> -1 = Dépublié | 0 = Brouillon | 1 = Publié</p>
          </span>
        </fieldset> 
      </section>
          <span id="spanIngredients">
            <h4>Ingrédients</h4> 
            <article>
              <div id="divIngredients" *ngFor="let id of selectedPlats.ingredients; let i=index">
                <!-- <figure (click)="DeleteDialog(i, false, selectedPlats.ingredients)"><img src="assets/images/icones/icones-communs/corbeille.svg" alt=""></figure> -->               
                <p (click)="onViewIngredient(id)">{{ id | getIngredient:'alim_nom_fr' }}
                  <!-- DeleteDialog() modal PrimeNG - En paramétres l'index de l'ingrédients sur le tableau et la variable bolean del en false --> 
                  <figure (click)="DeleteDialog(i, false, selectedPlats.ingredients)">
                  <i class="pi pi-times-circle"></i></figure>
                </p>
                
              </div>
            </article>
          </span> 
          <table >
            <caption *ngIf="!selectedingredient">
              <i class="pi pi-info-circle"></i>
              Choisir un ingrédient pour en voir les détails
            </caption>
            <caption *ngIf="selectedingredient">
              <i class="pi pi-info-circle"></i>
              Composition de l'ingrédient sélectionné selon la quantité
            </caption>
            <thead>
              <tr>
                <th scope="col">Nutriment</th>
                <th scope="col">100 Gr</th>
                <th scope="col">1 cuil. café</th>
                <th scope="col">Quantité</th>
              </tr>
            </thead>
            <tbody *ngIf="selectedingredient">
              <tr>
                <th scope="row">Protéines</th>
                <td>{{ selectedingredient['Protéines, N x 6.25 (g/100 g)'] }} Gr</td>
                <td>-</td>
                <!-- <td><input type="number" name="quantiteIngredient" id="inputQuantite" label="Quantité"></td> -->
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Glucides</th>
                <td>{{ selectedingredient['Glucides (g/100 g)'] }} Gr</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Lipides</th>
                <td>{{ selectedingredient['Lipides (g/100 g)'] }} Gr</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Sucres</th>
                <td>{{ selectedingredient['Sucres (g/100 g)']}} Gr</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Vitamine C</th>
                <td>{{ selectedingredient['Vitamine C (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Vitamine B1</th>
                <td>{{ selectedingredient['Vitamine B1 ou Thiamine (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Vitamine B2</th>
                <td>{{ selectedingredient['Vitamine B2 ou Riboflavine (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              <tr>
                <th scope="row">Vitamine B3</th>
                <td>{{ selectedingredient['Vitamine B3 ou PP ou Niacine (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Vitamine B5</th>
                <td>{{ selectedingredient['Vitamine B5 ou Acide pantothénique (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Magnesium</th>
                <td>{{ selectedingredient['Magnésium (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Potassium</th>
                <td>{{ selectedingredient['Potassium (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Cuivre</th>
                <td>{{ selectedingredient['Cuivre (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
              <tr>
                <th scope="row">Manganese</th>
                <td>{{ selectedingredient['Manganèse (mg/100 g)']}} Mg</td>
                <td>-</td>
                <td><p-inputNumber id="inputNumber" inputId="integeronly" name="quantite" [showButtons]="true" [min]="0"></p-inputNumber></td>
              </tr>
            </tbody>
          </table>
          <p-accordion>
            <p-accordionTab header="Composition totale des ingrédients">
              <span>
                <p>Protéines : {{ nutrition.totals['proteine'] | number: '1.2-2' }} Gr</p>
                <p>Glucides : {{ nutrition.totals['glucides'] | number: '1.2-2' }} Gr</p>
                <p>Lipides : {{ nutrition.totals['lipides'] | number: '1.2-2' }} Gr</p>
                <p>Sucres : {{ nutrition.totals['sucres'] | number: '1.2-2' }} Gr </p>
              </span>
              <span>
                <p>Vitamine C : {{ nutrition.totals['vitamineC'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B1 : {{ nutrition.totals['vitamineB1'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B2 : {{ nutrition.totals['vitamineB2'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B3 : {{ nutrition.totals['vitamineB3'] | number: '1.2-2' }} Mg </p>
                <p>Vitamine B5 : {{ nutrition.totals['vitamineB5'] | number: '1.2-2' }} Mg </p>
              </span>
              <span>
                <p>Magnesium : {{ nutrition.totals['magnesium'] | number: '1.2-2' }} Mg </p>
                <p>Potassium : {{ nutrition.totals['potassium'] | number: '1.2-2' }} Mg </p>
                <p>Cuivre : {{ nutrition.totals['cuivre'] | number: '1.2-2' }} Mg </p>
                <p>Manganese : {{ nutrition.totals['manganese'] | number: '1.2-2' }} Mg </p>
              </span>
            </p-accordionTab>
          </p-accordion>
          <fieldset id="fieldsetTab">
            <p-tabView>
                <p-tabPanel header="Allergènes">                       
                  <!-- Ici optionLabel correspond au titre d'un allergene comme reçue après le map dans getAllergenes() -->
                  <span class="p-float-label">
                    <p-multiSelect inputId="float-label" [options]="nutrition.allergenes" [(ngModel)]="selectedPlats.allergenes"  name="allergenes" optionLabel="titre"></p-multiSelect>
                    <label for="float-label">Type d'allergènes</label>
                  </span>
                  <ng-container *ngFor="let allergenes of selectedPlats.allergenes">
                    <p>{{ allergenes.description }}</p>
                  </ng-container>
                </p-tabPanel>
                <p-tabPanel header="Régimes">
                  <span class="p-float-label">
                    <p-multiSelect inputId="float-label" [options]="nutrition.regimes" [(ngModel)]="selectedPlats.regimes" name="regimes" optionLabel="titre"></p-multiSelect>
                    <label for="float-label">Type de régimes</label>              
                  </span>
                    <ng-container *ngFor="let regime of selectedPlats.regimes">
                      <p>Description : {{ regime.description }}</p>
                      <p>Type de régime : {{ regime.type }}</p>
                    </ng-container>
                </p-tabPanel>
                <p-tabPanel header="Programmes">
                  <span class="p-float-label">
                    <p-multiSelect inputId="float-label" [options]="nutrition.nutriProgrammes" [(ngModel)]="selectedPlats.programmes" name="programmes" optionLabel="titre"></p-multiSelect>
                    <label for="float-label">Programmes alimentaires</label>              
                  </span>
                  <ng-container *ngFor="let programme of selectedPlats.programmes">                
                    <p>Description : {{ programme.description }}</p>                
                    <p>Statut de publication : {{ programme.statut }}</p>
                    <p style="font-style: italic;"><i class="pi pi-info-circle"></i> -1 = Dépublié | 0 = Brouillon | 1 = Publié</p>
                  </ng-container>
                </p-tabPanel>
                <p-tabPanel header="Nutriments">
                  <span class="p-float-label">
                    <p-multiSelect inputId="float-label" [options]="nutrition.nutriments" [(ngModel)]="selectedPlats.nutriments" name="nutriments" optionLabel="titre"></p-multiSelect>
                    <label for="float-label">Nutriments</label>              
                  </span>
                  <ng-container *ngFor="let nutriment of selectedPlats.nutriments">                
                    <p>Quantité : {{ nutriment.quantite }} {{ nutriment.mesure }}</p>
                  </ng-container> 
                </p-tabPanel>
                <p-tabPanel header="Liens">
                  <span class="p-float-label">
                    <p-multiSelect inputId="float-label" [options]="nutrition.liens" [(ngModel)]="selectedPlats.liens" name="liens" optionLabel="titre"></p-multiSelect>
                    <label for="float-label">Liens</label>              
                  </span>
                  <ng-container *ngFor="let lien of selectedPlats.liens">                
                    <p>Titre : {{ lien.titre }}</p>
                  </ng-container>
                </p-tabPanel>
            </p-tabView>
          </fieldset> 
          <span id="spanButton">
            <p-button styleClass="p-button-warning" (onClick)="onCancelForm()">Annuler</p-button>              
            <p-button styleClass="p-button-success" (onClick)="ConfirmDialog($event)" [disabled]="platForm.invalid!">Valider</p-button>
          </span>
        </form>        
    </div>
  </article> 
  <article>
    <span id="headerIngredient">
      <figure>
        <img src="assets/images/icones/icones-communs/carotte.png" alt="" />
      </figure>
      <h4>Ajout d'ingrédients</h4>
    </span>
    <span class="p-input-icon-left">
      <i class="pi pi-search"></i>
      <input type="text" pInputText [(ngModel)]="filtreIngredients" (input)="nutrition.onFilterChange()" />
      <!-- Utilisation de onFilterChange() pour réinitialiser l'input -->
    </span>
    <div>
      <!-- Utilisation du pipe ingredients pour rechercher des ingredients par leur alim_nom_fr -->        
        <span *ngFor="let ingredients of nutrition.ciqualJSON | ingredients:filtreIngredients | paginate: { itemsPerPage: 30, currentPage: pageIngredients, id:'ingredients' }">
          <p (click)="onSelectIngredient(ingredients.alim_code)">{{ ingredients.alim_nom_fr }}</p>
        </span>        
    </div>
    <span id="paginationIngredients">
      <!-- [maxSize] pour le nombre de numéro de pages à afficher -->
      <pagination-controls (pageChange)="pageIngredients = $event" id="ingredients" previousLabel="Précédent" nextLabel="Suivant" [maxSize]="5"></pagination-controls>
    </span>
  </article>   
</section>



<!-- Pour la pop-up MessageService -->
<p-toast></p-toast>

<!-- Le contenu de la Modal PrimeNG pour supprimer un plat OU un ingrédient -->
<p-confirmDialog #cd [style]="{ width: '40vw' }">
<ng-template pTemplate="footer">
  <button type="button" class="rejectButton" pButton icon="pi pi-times" label="Non" (click)="cd.reject()"></button>
  <button type="submit" class="acceptButton" pButton icon="pi pi-check" label="Oui" (click)="cd.accept()"></button>
</ng-template>
</p-confirmDialog>

<!-- La modal de type pop-up pour valider les modifications du formulaire -->
<p-confirmPopup key="formulaire"></p-confirmPopup>